<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="modal" id="myModal">
    <div class="modal-content">
      <div class="container">

        <table style="width:100%">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr class="tr-head">
              <th style="width: 50%"><h1>Новый клиент</h1></th>
              <th style="width: 50%"></th>
            </tr>
          </thead>
          <tbody>
          <tr><td colspan="2"><hr></td></tr>
          <tr>
            <td colspan="1">
              <label><b>Фамилия</b><span class="red_star">*</span></label>
              <input id="surname" name="surname" type="text" placeholder="Фамилия" required>
            </td>
            <td colspan="1">
              <label><b>Имя</b><span class="red_star">*</span></label>
              <input id="name" type="text" placeholder="Имя" required>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Отчество</b></label>
              <input id="patronymic" type="text" placeholder="Имя" required>
            </td>
            <td>
              <label><b>Пол</b><span class="red_star">*</span></label>
              <label>Male:<input id="sex_male" type="radio" name="gender" value="male"/></label>
              <label>Female: <input id="sex_female" type="radio" name="gender" value="female"/></label>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Возраст</b><span class="red_star">*</span></label>
              <input id="age" type="number" placeholder="Возраст" required>
            </td>
            <td>
              <label><b>Характер</b><span class="red_star">*</span></label>
              <p style="padding: 10px">
                <select id="character">
                  <option *ngFor="let character of characters" value="{{character}}">{{character}}</option>
                </select>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Адрес регистрации</b><span class="red_star">*</span></label>
              <input id="ra_street" type="text" placeholder="Улица" required>
              <input id="ra_house" type="text" placeholder="Дом" required>
              <input id="ra_apartment" type="text" placeholder="Квартира" required>
            </td>
            <td>
              <label><b>Адрес проживания</b></label>
              <input id="la_street" type="text" placeholder="Улица" required>
              <input id="la_home" type="text" placeholder="Дом" required>
              <input id="la_apartment" type="text" placeholder="Квартира" required>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label><b>Телефоны</b><span class="red_star">*</span></label>
            </td>
          </tr>
          <tr>
            <td>
              <input id="home_phone" type="tel" placeholder="Домашний" required>
              <input id="work_phone" type="tel" placeholder="Рабочий" required>
              <input id="mobile_phone1" type="tel" placeholder="Мобильный1" required>
            </td>
            <td>
              <input id="mobile_phone2" type="tel" placeholder="Мобильный2" required>
              <input id="mobile_phone3" type="tel" placeholder="Мобильный3" required>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
              <td>
                <button type="button" class="cancelbtn" (click)="close()">Заткрыть</button>
              </td>
              <td>
                <button type="submit" class="signupbtn" (click)="add()">Добавить</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
